@import url(./global.css);

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  box-shadow: var(--box-shadow);
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--background);
}

.products .cards {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.products .cards .card {
  width: 18rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--background);
}

.products .cards .card h5 {
  color: var(--font-color);
  font-weight: bold;
}

.products .cards .card img {
  width: 100%;
  max-height: 350px;
  height: 100%;
}

.products .cards .card .card-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.products .cards .card .btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secondary);
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 15px;
  color: var(--font-color);
  text-decoration: none;
  font-family: "Roboto", sans-serif !important;
  transition: transform 0.6s ease-in-out;
}

.products .cards .card .btn-link:hover {
  transform: scale(1.1);
}
